<!-- status bar -->
<status-bar></status-bar>
<!-- content navigation -->
<content-nav ></content-nav>

<form ng-submit="vm.saveSettings()" novalidate>
    <article>
        <h1>
            <i class="fa fa-file-text-o"></i> <page-name></page-name>
        </h1>

        <section>
            <dl>
                <dt><label for="website-name">Website Name</label></dt>
                <dd><input type="text" id="website-name" ng-model="vm.settings.website_name.value"></dd>
                <dt><label for="website-sender-email">Website Sender Email</label></dt>
                <dd><input type="text" id="website-sender-email" ng-model="vm.settings.website_email.value"></dd>
                <dt><label for="website-reply-to-email">Website Reply-To Email</label></dt>
                <dd><input type="text" id="website-reply-to-email" ng-model="vm.settings.website_reply_to_email.value"></dd>
                <dt><label for="website-url">Website URL</label></dt>
                <dd><input type="text" id="website-url" ng-model="vm.settings.website_url.value"></dd>
                <dt><label for="website-description">Website URL</label></dt>
                <dd><input type="text" id="website-description" ng-model="vm.settings.website_description.value"></dd>
                <dt><label for="website-description">Website Description</label></dt>
                <dt><label for="website-keywords">Website Keywords</label></dt>
                <dd><input type="text" id="website-keywords" ng-model="vm.settings.website_keywords.value"></dd>
                <dd><input type="checkbox" id="website-debug-mode" ng-model="vm.settings.debug_mode.value" ng-true-value="'1'" ng-false-value="'0'"></dd>
            </dl>

        </section>
    </article>

    <aside>
        <section>
            <header class="{{ vm.backgroundColorClass }}">
                <h1>Information</h1>
            </header>

            <footer>
                <button type="submit" ng-class="vm.backgroundColorClass" tabindex="5">Save</button>
                <img class="img-center" src="img/loading.gif" height="18" width="18" alt="loading" ng-show="loading">
                <button type="button" class="delete" tabindex="6">Delete</button>
            </footer>
        </section>

        <section>
            <header class="{{ vm.backgroundColorClass }}">
                <h1>Debug Information</h1>
            </header>
            <pre>
                {{ vm.settings | json }}
            </pre>
        </section>
    </aside>
</form>